{% extends 'base.html.twig' %}

{% block title %}Newletter{% endblock %}
{% block description %}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12">
        
        </div>
    </div>
</div>
{% endblock %}