/* BOOTSTRAP
    yarn add bootstrap --dev
    Le ~ vous permet de référencer des choses dans node_modules
    importe le node_modules/bootstrap/scss/bootstrap.scss fichier dans main.scss
    Bootstrap JavaScript nécessite jQuery et Popper.js
    yarn add jquery popper.js --dev
    Obtenir bootstrap à partir de l'un de vos fichiers JavaScript app.js (bundle webpack encore)
    const $ = require('jquery');
    require('bootstrap');
*/
@import "~bootstrap/scss/bootstrap";

/* RFS
    Modifie automatiquement la taille des polices de caractères
    Taille de police de base (unité en px ou rem)
    npm: npm install rfs 
        ou
    yarn: yarn add rfs
    Importation du module
    @import "~rfs/scss";
    usage:@include font-size(4rem); OU @include responsive-font-size(64px); OU @include rfs(64);
*/
@import "~rfs/scss";
@import "sass/auto-prefixe";
@import "sass/animateOrigin";
@import "sass/animateRc";
@import "sass/mixins";
@import "sass/rgpdConsent/cookiesManager";
@import "sass/components/boxVideoLinkURL";
@import "sass/components/modalRc";
@import "sass/components/cardRc";
@import "sass/play_button";
@import "sass/gisthub";
@import 'sass/default.scss';
@import "sass/footer";
@import "sass/erreur";
@import "sass/common";
@import "sass/background";
@import "sass/show-code";
@import "sass/hot-post";
@import "sass/robotique";
@import "sass/rpi-cam";
@import "sass/telecommand";
@import "sass/interfaceWeb";
@import "sass/telcom-configRadio";
@import "sass/telecom-composant";
@import "sass/composants-vehicule";
@import "sass/led";
@import "sass/formAccount";
@import "sass/paginator.scss";
