{% extends 'base.html.twig' %}

{% block title %}Modifier un utilisateur{% endblock %}
{% block description %}{% endblock %}
{# Ajoute l'icone de connection #}
{% block userAccount %}{% include "includes/connect.html.twig" %}{% endblock %}

{% block body %}
<section class="container">
    <div class="row my-4">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{ path('admin_users') }}">Administration</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Modifier</li>
                </ol>
            </nav>
            <h1>{{title}}</h1>
            <div class="mt-4 p-4 border shadow rounded">
                {{ form(userForm) }}
            </div>
        </div>
    </div>
</section>  
{% endblock %}